@model IEnumerable<Libreria.Models.Librerias>

@{
    ViewBag.Title = "Gestion Biblioteca";
}

<h2>Biblioteca</h2>

<p>
    @Html.ActionLink("Gestion de Personas", "Index", "Personas", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Gestion de Estantes", "Index", "Estantes", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Gestion de Libros", "Index", "Libroes", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Gestion de Prestamos", "Index", "PersonaLibroes", new { area = "" }, new { @class = "navbar-brand" })

</p>
<table class="table">
    <tr>
        <th></th>
    </tr>



</table>
